@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  mirgin: 0px;
  padding: 0px;
}
body{
  font-family: "Inter", sans-serif;
  padding: 15px;
}
img{
  height: 308px;
  width: 450px;
}

#top-section{
  border: 2px solid black;
  padding: 17px;
}
h2{
  font: Inter;
  text-underline-offset: 5px;
}
li{
  padding: 5px 0px;
}
a{
  color: black;
}
ol{
  padding-left: 17px;
}
